@font-face {
    font-family: 'Shilla_CultureB-Bold';
    src: url('./Shilla_Culture.ttf') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'ChosunGs';
    src: url('./ChosunGs.TTF') format('woff');
    font-weight: normal;
    font-style: normal;
}