

.react-calendar__tile {
  background: none;

}


  
  .react-calendar__tile--active {
    background-color: #51F8C4;
    color: #171717;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
  }


  
  .react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus{
    background: #51F8C4;
  }